header {
  background-color: rgb(0, 0,255);
  min-height: 80vh;
  background-image: url(images/moi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

header2 {

}

.header-content-block {
  padding: 2em;
  text-align: center;
  padding-top: 232px;
}

.header-content-block h1 {
  font-size: 3em;
  font-family: sans-serif;

}

.a-propos {
  padding-left: 240px;
  padding-right: 240px;
}

.a-propos h2 {
  font-family: 'Barlow Condensed', sans-serif;
padding-top: 180px;
padding-bottom: 30px;
font-size: 2em;
text-align: justify;

}

.a-propos p {

  columns: 2;
  column-gap: 60px;
  padding-bottom: 180px;
  text-align: justify;
}

@media (max-width: 480px) {
.header-content-block h1{
font-size: 1em;
 }
 .a-propos p {
    columns: 1;
 }
  }

@media (max-width: 890px) {
  .a-propos {
    padding-left: 80px;
    padding-right: 80px;
  }
   }

section2 {
background-color: #e3e1ef;
border: 2px solid red;
}

.Thèmes {

  background-color:#e3e1ef;


}

   ul {
     display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 80px;
   padding-bottom: 80px;
   background-attachment: fixed;
    }
a {
  display: flex;
flex-wrap: wrap;
justify-content: center;
}

li{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px
}
    img {

    width:  75%;
    height: 100%;
    border: 2px solid #f0ddff;
    }



.Textes {
  display: block;
      padding: 3rem;
}


#section3 {
  background-image: url(images/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}

.citation p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5em;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 360px;
  padding-right: 360px;
  text-align: center;
  color: white;
}

.projets-personnels h2 {
  font-family: 'Barlow Condensed', sans-serif;
  padding-top: 180px;
  padding-bottom: 30px;
  font-size: 2em;
  text-align: justify;
  padding-left: 57px;
}

.Projets-personnels img {

  width:  20em;
  height: 100%;
  border: none;
  padding-right: 13px;
}

footer {
  background-color: : white;

  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-content-block {
  text-align: center;
}
